.yellow1{
margin-bottom:4%;
border:none;
border-radius:30%;
background:rgb(226, 208, 105,0.8)
}

.green1{
border:none;
border-radius:30%;
background:rgb(76, 216, 94,0.8)
}

.red1{
border:none;
border-radius:30%;
background:rgb(216, 98, 98,0.8)
}